{% extends "layout.html.twig" %}


{% block header %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('/bootstrap/img/alaska.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1> {{ article.titre }} </h1>
                    <span class="meta">Posted by
            <a href="#">{{ article.auteur }}</a>
            , {{ article.date_article|date('j F Y') }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block section %}
<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {{ article.article }}
            </div>
        </div>
    </div>
</article>

<hr>
{% endblock %}

{% block footer %}
<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="#">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Copyright &copy; Your Website 2017</p>
            </div>
        </div>
    </div>
</footer>
{% endblock %}